@import url('https://fonts.googleapis.com/css?family=Numans');

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Noto+Serif');

body{
background-color: #E1E8EE;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: "Fira Sans", Helvetica, Arial, sans-serif;
padding-top: 100px;
overflow-x: hidden;
}

.logo {
color: rgba(85, 153, 194, 1);
font-size: 25px;
font-family: 'Noto Serif', serif;
font-family: 'Kaushan Script', cursive;
text-decoration:none;
margin-right: 30px;
}

.logo:hover{
	color: #c5d2df;
	margin-right: 30px;
}

a:link{
	text-decoration: none;
}

.espacio {
padding: 47px 0px 0px 20px
}
