@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Noto+Serif');

body{
background-color: #E1E8EE;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: "Fira Sans", Helvetica, Arial, sans-serif;
padding-top: 100px;
overflow-x: hidden;
}

.logo {
color: rgba(85, 153, 194, 1);
font-size: 25px;
font-family: 'Noto Serif', serif;
font-family: 'Kaushan Script', cursive;
text-decoration:none;
margin-right: 30px;
}

.datos{
	color:grey;
}

.precio{
	text-align: center;
	padding:20px 15px 15px 15px;
	margin: auto;
	color: white;
}

.logo:hover{
	color: #c5d2df;
	margin-right: 30px;
}

a:link{
	text-decoration: none;
}

.caja-texto{
	padding: 5px 10px 5px 15px;
	margin: auto;
	width: 200px;
}

.imagen{
	margin:9px auto auto auto;
	width: 150px;

}

.btn-precio{
	width: 120px;
	height: 70px;
	font-size: 24px;
}