/* 
    Created on : 01-abr-2019, 9:56:10
    Author     : Manuel Leyva
*/

@import url('https://fonts.googleapis.com/css?family=Numans');

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Noto+Serif');

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

body{
    background-color: #E1E8EE;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    padding-top: 100px;
    overflow-x: hidden;
}

.logo {
    color: rgba(85, 153, 194, 1);
    font-size: 25px;
    font-family: 'Noto Serif', serif;
    font-family: 'Kaushan Script', cursive;
    text-decoration:none;
    margin-right: 30px;
}

.logo:hover{
    color: #c5d2df;
    margin-right: 30px;
}

a:link{
    text-decoration: none;
}

.espacio {
    padding: 47px 0px 0px 20px
}

img{
    width: 120px; height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-avatar{
    width: 100px; height: 100px;
}

.info{
     text-align: center;
}

.area {
    margin-left: 50px;
}

.centrar{
    display: flex;
    align-items: center;
    padding-left: 29px;
    padding-right: 20px;
    padding-bottom: 18px;
}

.editar {
    margin-right: 5px;
}

.caja-texto{
	padding: 5px 10px 5px 15px;
	width: 200px;
}