/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-abr-2019, 15:23:05
    Author     : Carlos
*/

@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Noto+Serif');

body{
background-color: #E1E8EE;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: "Fira Sans", Helvetica, Arial, sans-serif;
padding-top: 100px;
}

.logo {
color: rgba(85, 153, 194, 1);
font-size: 25px;
font-family: 'Noto Serif', serif;
font-family: 'Kaushan Script', cursive;
text-decoration:none;
margin-right: 30px;
}


.centrado{
	text-align: center;
	padding:25px 15px;
}


.logo:hover{
	color: #c5d2df;
	margin-right: 30px;
}

a:link{
	text-decoration: none;
}

.caja-texto{
	padding: 5px 10px 5px 15px;
	margin: auto;
	width: 200px;
}

.imagen{
	margin:9px auto auto auto;
	width: 80px;

}
