@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Courgette|Varela+Round');


body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.logo {
color: rgba(85, 153, 194, 1);
font-size: 25px;
font-family: 'Noto Serif', serif;
font-family: 'Kaushan Script', cursive;
text-decoration:none;
margin-right: 30px;
padding-right: 10px
}

.logo:hover{
	color: #c5d2df;
	margin-right: 30px;
}

p {
  line-height: 1.75;
}

a {
  color: #141920;
}

a:hover {
  color: #2f72b6;
}

.text-primary {
  color: #3596ff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section {
  padding: 100px 0;
}


section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}











@media (min-width: 768px) {
  section {
    padding: 160px 0;
  }
}










.btn-xl {
  font-size: 18px;
  padding: 15px 30px;
}

.btn-primary {
  background-color: #3596ff;
  border-color: #3596ff;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #3596ff !important;
  border-color: #3596ff !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}


::selection {
  background: #3596ff;
  text-shadow: none;
}


img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding-right: 20px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #3596ff;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: #3596ff;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #c5d2df;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  padding-right: 10px;
  color: black;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #3596ff;
}

@media (min-width: 992px) {
	
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0.5em 1em !important;
  }
  #mainNav.navbar-shrink {
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}


header.masthead .texto-principal {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .texto-principal .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .texto-principal .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 1100px) {
  #mainNav {
    border: none;
    background-color:gray;

  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0.4em 1em !important;
  }
  #mainNav.navbar-shrink {
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.principal {
 /* text-align: center;*/
  color: white;
  background-image: url("../img/gran-experiencia.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}









header.principal .texto-principal {
  padding-top: 250px;
  padding-bottom: 200px;
}









header.principal .texto-principal .intro-subt {
  font-size: 25px;
  line-height: 22px;
  margin-bottom: 20px;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}



header.principal .texto-principal .intro-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}









@media (min-width: 768px) {
  header.principal .texto-principal {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  header.principal .texto-principal .intro-subt {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 20px;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  header.principal .texto-principal .intro-heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 40px;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}







#demo .demo-item {
  right: 0;
  margin: 0 0 15px;
}

#demo .demo-item .demo-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#demo .demo-item .demo-link .demo-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(53, 177, 255, 0.9);
}

#demo .demo-item .demo-link .demo-hover:hover {
  opacity: 2;
}

#demo .demo-item .demo-link .demo-hover .demo-hover-content {
  margin-top: -12px;
  text-align: center;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
}

#demo .demo-item .demo-link .demo-hover .demo-hover-content i {
  margin-top: -12px;
}

#demo .demo-item .demo-link .demo-hover .demo-hover-content h3,
#demo .demo-item .demo-link .demo-hover .demo-hover-content h4 {
  margin: 0;
}

#demo .demo-item .demo-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#demo .demo-item .demo-caption h4 {
  margin: 0;
  text-transform: none;
}

#demo .demo-item .demo-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#demo * {
  z-index: 2;
}

@media (min-width: 767px) {
  #demo .demo-item {
    margin: 0 0 30px;
  }
}

.demo-modal {
  padding-right: 0px !important;
}

.demo-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.demo-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.demo-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.demo-modal .modal-content p {
  margin-bottom: 30px;
}

.demo-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.demo-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.demo-modal .modal-content img {
  margin-bottom: 30px;
}

.demo-modal .modal-content button {
  cursor: pointer;
}

.demo-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.demo-modal .close-modal:hover {
  opacity: 0.3;
}











.service-heading {
  margin: 15px 0;
  text-transform: none;
}





section#contacto {
  background-color: #c5d2df;
  padding-bottom: 0px;
}


footer {
  padding: 40px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

